<h2>Using the fallimg library</h2>
<br><br>
<h5>using fallimg on DIV tag (shouldn't load the directive on this tag)</h5>

<div fallimg></div>

<h5>using fallimg on Span tag (shouldn't load the directive on this tag)</h5>

<span fallimg></span>

<h5>using fallimg on img tag with default fallback</h5>

<img fallimg src="sa" width="100px">

<h5>using fallimg on img tag with angular fallback</h5>

<img fallimg="angular" src="dasda" width="100px">

<h5>using fallimg on img tag with nothing (empty) fallback (should show an error)</h5>

<img fallimg="nothing" src="dasda" width="100px">

<h5>using fallimg on img tag with invalid fallback (shouldn't load an image if the two images are invalid)</h5>

<img fallimg="invalid" src="dasda" width="100px">


